.dropdown {
    position: absolute;
}

ul.drop-menu li {
    display: none;
}
  
li:hover > ul.drop-menu li {
    display: block;
}

li:hover > ul.drop-menu.menu-7 {
    perspective: 1000px;
}

li {
    transform-origin: top left;
    opacity: 0;
    @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
            animation: {
                name: menu-7;
                delay: (150ms * $i) - 300ms;
                duration: 600ms;
                fill-mode: forwards;
                timing-function: ease-in-out;
            }
        }
    }
}




@keyframes menu-7 {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        margin-top: -100px;
    }
    80% {
        margin-top: 0px;
        transform: rotateY(90deg);
    }
    90% {
        transform: rotateY(-10deg);
        margin-top: 5px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
        transform: rotateY(0deg);
    }
}

 
 